#hookup-intro, #hookup-error-box, #hookup-active-date, #hookup-table, #hookup-add-date, #hookup-add-users, #hookup-add-groups, #hookup-submit {
	margin: 1em;
}

#hookup-error-box {
	color: red;
	font-size: 12px;
}

#hookup-add-date, #hookup-add-users, #hookup-add-groups {
	float: left;
	padding: 1em;
}

fieldset input.submit {
	display: block;
	float: right;
}

table.hookup, table.hookup th, table.hookup td {
	border-collapse:collapse;
}

table.hookup th, table.hookup td {
	border: 1px solid black;
}
table.hookup td.spacerow {
	height: 10px;
	border-left: none;
	border-right: none;
	border-bottom: 3px double black;
}

table.hookup th.activedate, table.hookup td.activedate {
	border-left: 3px solid black;
	border-right: 3px solid black;
}
table.hookup th.activedate {
	border-top: 3px solid black;
}
table.hookup td.activedate_bottom {
	border-bottom: 3px solid black;
}

#hookup-table table th {
	color: inherit;
}

div.summary {
	float: left;
	color: black;
}
div.yes-bg, td.yes-bg, select.yes-bg, option.yes-bg {
	background: #33CC00;
}
div.maybe-bg, td.maybe-bg, select.maybe-bg, option.maybe-bg {
	background: #FFCC00;
}
div.no-bg, td.no-bg, select.no-bg, option.no-bg {
	background: #FF3300;
}
div.unset-bg, td.unset-bg, select.unset-bg, option.unset-bg {
	background: #ABABAB;
}

.comment {
	position: relative;
}

.comment > span {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 1em;
	padding: 0.5em;
	background: #F4F4F4;
	border: 1px solid #0B2140;
	color: #0B2140;
	width: 30em;
}

.comment:hover > span {
	display: block;
}

@media all and (min-width: 700px) {
	#hookup-table-scrollwrapper {
		overflow: auto;
	}
}

@media all and (max-width: 700px), all and (max-device-width: 700px) {
	.hookup_hidemobile {
		display:none;
	}
	tr td:first-child dfn {
		display:none !important;
	}
	.summary-box {
		width:60%;
		min-width:150px;
		float:right;
	}

	.comment > span {
		display:inline;
		position:inherit;
		z-index: inherit;
		left: inherit;
		top: inherit;
		margin: inherit;
		background: none;
		border: none;
		color: inherit;
		width: auto;
	}
	.comment:hover > span {
		display:inline;
	}
}

/*#hookup-table, #tabs-boundary, #hookup_datetimepicker {
	display: none;
}*/

/* Style Calendar */
.hookup_datetimepicker {
	background-color:white;
}

th.prev:hover, th.next:hover {
	background-color:white;
	color:red;
}

td.day, td.hour, td.minute, span.month, span.year {
	padding:2px;
	border-bottom: dashed 1px black;
	text-align:center;
	padding-left:5px;
	padding-right:5px;
}

td.day:hover, td.hour:hover, td.minute:hover, span.month:hover, span.year:hover {
	color:red;
}

td.new, td.old {
	color:gray;
}

#hookup_datetimepicker {
	border: solid 1px;
	border-radius: 15px;
	padding:2px;
	display:block;
	background-color:white;
	position:absolute;
	z-index:5;
	padding:5px;
	font-size:12pt;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align:center;
}

span.timepicker-hour:hover, span.timepicker-minute:hover, .picker-switch:hover {
	color:red;
}

.timepicker-minutes table {
	margin-top: 5px;
}
.picker-switch {
	background-color: #CCCCCC;
	border-radius: 5px;
	margin-bottom:5px;
}

#hookup_datetimepicker button.btn {
	display:none;
}

#hookup_datetimepicker .disabled {
	color: #CCCCCC;
}
#hookup_datetimepicker .disabled:hover {
	color: #CCCCCC;
}
#hookup_datetimepicker .today {
	background-color: #CCCCCC;
}
#hookup_datetimepicker .active {
	background-color: red;
}

#hookup_datetimepicker .active:hover {
	background-color: transparent;
}

@font-face {
	font-family:'FontAwesome';
	src:url('../../../vendor/fortawesome/font-awesome/fonts/fontawesome-webfont.eot?v=4.4.0');
	src:url('../../../vendor/fortawesome/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),url('../../../vendor/fortawesome/font-awesome/fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),url('../../../vendor/fortawesome/font-awesome/fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),url('../../../vendor/fortawesome/font-awesome/fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),url('../../../vendor/fortawesome/font-awesome/fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-chevron-up:before {
    content: "\f077";
	font-size: 18pt;
}

.glyphicon-chevron-down:before {
    content: "\f078";
	font-size: 18pt;
}

.glyphicon-chevron-left:before {
    content: "\f053";
}

.glyphicon-chevron-right:before {
    content: "\f054";
}

.timepicker:before {
    content: "\f017";
	font-family: 'FontAwesome';
	font-size: 18pt;
}

.timepicker {
	margin-top: 5px;
}

.timepicker-picker table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}

